h1:hover {
  color: white;
  cursor: pointer;

  /* transform: skew(15deg, 15deg) rotate(360deg) translateY(-20px); */

  /* transition: all 0.3s ease; */

  /* animation: test 0.4s ease 0s infinite; */
}
/* @keyframes test {
  from {
    transform: translateY() translateX(50px);
  }
  to {
    transform: translateX(20px);
  }
} */
